<html>
  <head>
    <title>Flask Intro </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="topbar">
      <div class="col-xs-10">
        <h2>Welcome Home!</h2>
      </div>
      <div class="col-xs-2">
        <a id="logout" href="/logout"> Logout </a>
      </div>
    </div>
  <div id="container">
    <div class="col-sm-12">
      <a href="gamescores.html"><input class="btn btn-default" id="gamescoresbtn" type="submit" value="GameScores"></a>
      <input class="btn btn-default" id="scheduledgamesbtn" type="submit" value="Scheduled Games">
      <input class="btn btn-default" id="alrostersbtn" type="submit" value="Rosters For AL">
      <input class="btn btn-default" id="nlrostersbtn" type="submit" value="Rosters For NL">
      <input class="btn btn-default" id="standingsbtn" type="submit" value="Standings">
      <input class="btn btn-default" id="leagueleadersbtn" type="submit" value="League Leaders">
    </div>
  </div>
  </body>
</html>